
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #2f4f4f;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    color: #2f4f4f;
}

section {
    padding: 1.5rem;
    margin: 1rem 0;
}

a {
    color: #2f4f4f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2f4f4f;
    color: white;
}

#cv h2 {
    font-size: 2rem; /* Adjust this value as needed */
}

#cv a {
    font-size: 1.2rem; /* This adjusts the size of the "Download my CV" link */
}

